@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page { size: A4; margin: 0; }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    position: relative;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-color: #040A1B;
    background-image: url("/assets/images/blue_bg.png");
    background-repeat: no-repeat;

    background-position: right 0 bottom -200px;

    background-size: contain;
    pointer-events: none;

    z-index: 0;
  }

  .cv-print-root,
  .cv-template-classic,
  .cv-template-twocol,
  .cv-grid {
    position: relative;
    z-index: 1;
    background: transparent !important;
  }

  .cv-grid, .cv-main, .cv-sidebar {
    transform: none !important;
  }

  /* sidebar — як було */
  .cv-sidebar {
    position: fixed;
    top: 15%;
    right: 5%;
    width: 25%;
    z-index: 2;
  }

  .cv-main {
    padding-right: calc(25% + 5%);
  }

  .name-gradient {
    background: none !important;
    -webkit-background-clip: initial !important;
    background-clip: initial !important;

    -webkit-text-fill-color: #AFF1FF !important;
    color: #AFF1FF !important;
  }
}
